:root {
    --vp-c-brand: #1890ff;
    --vp-button-brand-border: #1890ff;
    --vp-button-brand-hover-border: #40a9ff;
    --vp-button-brand-hover-bg: #40a9ff;
}
.content-container{
    max-width: 1400px !important;
}
.VPSidebar{
    padding-left: 3rem !important;
    width: 20rem !important;
}
.VPNavBar.has-sidebar .title{
    padding-left: 3rem !important;
}
.VPContent.has-sidebar{
    padding-left: 22rem !important;
}
.VPNavBar.has-sidebar .content{
    background-color: white;
}
.el-popper{
    &>span:first-child{
        font-size: 16px !important;
    }
}
.el-tooltip__trigger{
    display: flex;
    align-items: center;
}
.el-icon{
    margin: 0 .4rem !important;
}
.code-box-demo{
    background: linear-gradient(45deg, #c4dbff, transparent) !important;
    padding: 40px 200px !important;
    display: none !important;
}

.highlight-wrapper {
  display: block !important;
}

.vp-doc .vp-raw p,
.vp-doc .vp-raw summary {
  margin: 0;
  line-height: inherit;
}

/* 组件页面给右侧手机留出空间 */
@media (min-width: 960px) {
  .vp-doc.has-sidebar .content-container {
    max-width: 680px !important;
  }
}